.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&::before {
		content:"\00d7";
	}
	&:hover, &:focus {
		color: black; // Figure out how to have that work in javascript
	  	text-decoration: none;
	  	cursor: pointer;
	}
}
.place-hrz {
	display: inline;
}
iframe {
	margin: auto;
	.no-border {
		border: none;
	}
}
.disable {
	cursor:move;
}