img.nav-icon {
	height: 40px;
	width: 40px;
}

a.nav-link {
	text-align: center;
	text-decoration: none;

	&:hover {
		filter: brightness(150%);
	}
}

nav {
	margin: auto;

	ul.nav-list {
		// list-style-type: none !important;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li.nav-item {
			float: left;
			padding: 5px;
			/*.brand {
				&::before {
					content: "\0021";
				}
			}*/
		}

		li.profile {
			float: right;
			padding: 5px;
		}
	}
}

.sidenav {
	ul.sidenav-list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li.sidenav-item {
			padding: 5px;

			.brand {
				&::before {
					content: "\0021";
				}
			}

			a.sidenav-link {
				text-align: center;
				text-decoration: none;

				&:hover {
					filter: brightness(150%);
				}
			}
		}
	}
}