@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Alegreya Sans SC", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
[data-font=alegreya] {
  font-family: "Alegreya Sans SC", sans-serif;
}

[data-font=arial] {
  font-family: Arial, Helvetica, sans-serif;
}

[data-font=roboto] {
  font-family: "Roboto", sans-serif;
}

[data-font=times-roman] {
  font-family: "Times New Roman", Times, serif;
}

[data-font=trebuchet] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

[data-popup=modal] [data-modal=content] .global_header__IlGen {
  font-weight: bold;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
}

[data-popup=modal] {
  /*
  	display: block;
  	position: fixed;
  	z-index: 1;
  */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
}
[data-popup=modal] [data-modal=content] {
  margin: 15%, auto;
  padding: 2em;
  width: 80%;
}

[data-tool=tooltip] {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  pointer-events: none;
}
[data-tool=tooltip] [data-tip=tooltip] {
  visibility: hidden;
  position: absolute;
}
[data-tool=tooltip] [data-tool=tooltip]:hover [data-tip=tooltip] {
  display: inline;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  visibility: visible;
  position: top;
}

nav {
  margin: auto;
}
nav ul.global_nav-list__pDZv2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul.global_nav-list__pDZv2 li.global_nav-item__5FV3J {
  float: left;
  padding: 5px;
  /*.brand {
  	&::before {
  		content: "\0021";
  	}
  }*/
}
nav ul.global_nav-list__pDZv2 li.global_profile__uSBuY {
  float: right;
  padding: 5px;
}

nav .global_sidenav__-Z4oT ul.global_sidenav-list__FnvVc {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav .global_sidenav__-Z4oT ul.global_sidenav-list__FnvVc li.global_sidenav-item__zHgRP {
  padding: 5px;
}
nav .global_sidenav__-Z4oT ul.global_sidenav-list__FnvVc li.global_sidenav-item__zHgRP .global_brand__9j8I3::before {
  content: "!";
}
nav .global_sidenav__-Z4oT ul.global_sidenav-list__FnvVc li.global_sidenav-item__zHgRP a.global_sidenav-link__inFLg {
  text-align: center;
  text-decoration: none;
}
nav .global_sidenav__-Z4oT ul.global_sidenav-list__FnvVc li.global_sidenav-item__zHgRP a.global_sidenav-link__inFLg:hover {
  filter: brightness(150%);
}

img.global_nav-icon__gslqH {
  height: 40px;
  width: 40px;
}

a.global_nav-link__F1Uas {
  text-align: center;
  text-decoration: none;
}
a.global_nav-link__F1Uas:hover {
  filter: brightness(150%);
}

.global_margin-auto__S1Z7i {
  margin: auto;
}

.global_align-left__RHxSb {
  float: left;
}

.global_align-center__hV74U {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.global_align-right__ZGT5c {
  float: right;
}

.global_justify-left__PyPDA {
  justify-content: left;
}

.global_justify-center__MZme1 {
  justify-content: center;
}

.global_justify-right__u1a6a {
  justify-content: right;
}

[data-math=times]::before {
  content: "×";
}

[data-math=divide]::before {
  content: "÷";
}

[data-math=mean]::before {
  content: "x̄";
}

[data-math=mean-sigma]::before {
  content: "σ";
}

[data-math=sigma-add]::before {
  content: "Σ";
}

[data-math=delta]::before {
  content: "Δ";
}

[data-math=mu-deviation]::before {
  content: "μ";
}

[data-math=theta-ordinal]::before {
  content: "θ";
}

[data-type=dropdown] [data-toggle=dropdown] ul.global_dropdown-list__me3ku {
  text-align: center;
}
[data-type=dropdown] [data-toggle=dropdown] ul.global_dropdown-list__me3ku li.global_dropdown-item__c4FH-.global_list-header__Kh3ZG {
  text-transform: uppercase;
  opacity: 50%;
}

.global_close__rVQEY {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.global_close__rVQEY::before {
  content: "×";
}
.global_close__rVQEY:hover, .global_close__rVQEY:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.global_place-hrz__L1bNO {
  display: inline;
}

iframe {
  margin: auto;
}
iframe .global_no-border__cEHI5 {
  border: none;
}

.global_disable__OR46N {
  cursor: move;
}
/*# sourceMappingURL=expack.esm.css.map */